<%= form_with(model: message, local: true) do |form|%>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group input-group">
      <!-- <div class="input-group-addon">Name :</div> -->
      <%= form.text_field :name, id: :message_name, class: "form-control form-control-lg border-top-0  border-right-0 border-left-0 form-font", placeholder: "Name" %>
      <!-- <div class="input-group-addon">Email :</div>  -->
      <%= form.text_field :email, id: :message_email, class: "form-control form-control-lg  border-top-0  border-right-0 border-left-0 form-font", placeholder: "Email" %>
  </div>

  <div class="form-group input-group">
       <!-- <div class="input-group-addon">Name :</div> -->
       <%= form.text_field :number, id: :message_number, class: "form-control form-control-lg  border-top-0  border-right-0 border-left-0 form-font", placeholder: "Number" %>
   </div>

  <div class="form-group">
       <%= form.text_area :comment, id: :message_comment, class: "form-control form-control-lg  border-top-0  border-right-0 border-left-0 form-font", placeholder: "A Short Description" %>
  </div>
  <div class="form-group">
      <%= form.submit "SCHEDULE SERVICE", class: "btn btn-2" %>
  </div>
<% end %>
