
<div class="bg-insurance" >
<div class="container-fluid">


<div class="row justify-content-center">
  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/aaa.png", class: "img-thumbnail thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/aig.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/allstate.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/ameriprise.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/chubb.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/farmers.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>


  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/gmac.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>



  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/assurant.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/progressive.jpg", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/travelers.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/geico.png", class: "img-thumbnail thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-xs-2 col-md-1">
    <%= image_tag "insurance/hartford.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

</div>



</div>
</div>
