
<div class="services-bg">

<div class="container margingTop">

<div class="row">
  <div class="offset-md-2 col-md-8">
    <h2 class="assistance"><span class="span24">24/7</span> Assistance: 203-263-1006</h2>
    <hr>
  </div>

</div>

<div class="row">

  <div class="col-sm-4 col-md-2">
    <%= image_tag "water-damage-restoration.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-sm-4 col-md-2">
    <%= image_tag "fire-damage-restoration.png", class: "img-thumbnail thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-sm-4 col-md-2">
    <%= image_tag "mold-remediation.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-sm-4 col-md-2">
    <%= image_tag "odor-removal.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-sm-4 col-md-2">
    <%= image_tag "desaster-assistance.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>

  <div class="col-sm-4 col-md-2">
    <%= image_tag "storm-damage-restoration.png", class: "img-thumbnail  thumbnail img-fluid service-icon"%>
  </div>




</div>
</div>
</div>
